.git
.github
node_modules
**/node_modules

.env
.env.*
!**/.env.example

dist
out
coverage
*.lcov
*.log
*.tgz
*.tsbuildinfo

client/dist
server/native/**/target
server/src/shuffle/*.node

.DS_Store
.idea
.vscode
